

<section class="resume-section" id="about">
  <div class="resume-section-content">
      <h1 class="mb-0">
          Gaurang
          <span class="text-primary">Patel</span>
      </h1>
      <div class="subheading mb-5">
          924 Zeller Crescent Kitchener N2A 0C7 647-854-4968.
          <a href="mailto:name@email.com">name@email.com</a>
      </div>
      <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
      <div class="social-icons">
          <a class="social-icon" href="https://www.linkedin.com/in/gaurangpatel406/" target="_blank"><i class="bi bi-linkedin"></i></a>
          <a class="social-icon" href="https://https://github.com/gaurangpatel406/" target="_blank"><i class="bi bi-github"></i></a>
          <a class="social-icon" href="mailto:gaurangpatel406@yahoo.ca"><i class="bi bi-envelope"></i></a>
          <a class="social-icon" href="Tel:647-854-4968"><i class="bi bi-phone"></i></a>
      </div>
  </div>
</section> <hr class="m-0" />
